<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel="stylesheet", href="css/materialize.min.css")
        style.
            body {
                display: flex;
                min-height: 100vh;
                flex-direction: column;
            }
            main {
                flex: 1 0 auto;
            }

    title Up Task
    body
        nav.nav-extended.indigo.darken-1
            .nav-wrapper
                a.brand-logo(href='#')
                    i.large.material-icons layers
                    | Up Task
                a.sidenav-trigger(href='#', data-target='mobile-demo')
                    i.material-icons menu
                ul#nav-mobile.right.hide-on-med-and-down
                    li
                        a.waves-effect.deep-purple.accent-2.waves-light.btn
                            |Proyecto
                            i.material-icons.left add 
                    li
                        a(href='collapsible.html') Logout

            ul#mobile-demo.sidenav
                li
                    a.waves-effect.deep-purple.accent-2.waves-light.btn
                        |Proyecto
                        i.material-icons.left add 
                li
                    a(href='collapsible.html') JavaScript


        block content


        footer.page-footer.indigo.darken-1
            .footer-copyright.indigo.darken-1
                .container
                    | © 
                    script.
                        document.write(new Date().getFullYear().toString())
                    |  created by 
                    a(href="https://github.com/IgnacioCastro0713" target="_blank") IgnacioCastro0713


        script(src="js/materialize.min.js")
        script.
            document.addEventListener('DOMContentLoaded', function () {
                M.AutoInit();
            });
